<head>
  <title>Startup Landing Page</title>
</head>
<body>

<section class="home" id="home">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>Welcome to<br />LiliXia | 粒粒侠</h1>
        <h3>LiliXia is an app that helps restaurants use their resources<br />wisely and promote discounts on their site.<br /> <br />Connect to foodies with LiliXia and reduce food-waste</h3>
        <hr />
        <% if user_signed_in? %>
         <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-warning"%>
         <% end %>
      </div>
    </div>
  </div>
</div>
</section>

<section class="about" id="about">

</section>

<section class="testimonials" id="testimonials">

</section>

<section class="contact" id="contact">

</section>

<div class="goup" id="goup">
    <a data-scroll href="#home">UP</a>
</div>

<!-- SCRIPTS
BOOTSTRAP ALWAYS NEEDS JQUERY RAN FIRST -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>



